.header{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
}
.filters{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter{
    font-size: 25px;
    margin: 10px;
    border: none;
    background: none;
    font-weight: 700;
    color: rgb(60, 118, 60);
    transition: 0.3s;

}
.filter:hover{
    scale: 1.2;
   color: rgb(149, 217, 149);
}
.toggle {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-text);
  transition: all 150ms ease-out;
}

.toggle:hover {
  transform: scale(1.1);
  color: var(--color-accent);
}
